node_modules
packages/**/node_modules
demo/**/node_modules
packages/**/build
packages/**/coverage
packages/**/dist
.npmrc
.vercel
demo/build
.netlify
/.idea/.gitignore
/.idea/jpa-buddy.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/react-code-blocks.iml
/.idea/vcs.xml
